/* src/App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth; /* Biar scroll-nya meluncur halus */
}

/* Biar pas diklik navbar, judul section gak ketutupan navbar */
section {
  scroll-margin-top: 5rem;
}

/* Mencegah scroll ke samping di HP */
body {
  overflow-x: hidden;
}